@using SocialNetwork.Domain.Models
@model IEnumerable<SocialNetwork.Domain.Models.Profile>

@{
    Layout = "~/Views/Shared/_Navigation.cshtml";
}
@{
    ViewBag.Title = "Friends";
}

<h2>ViewBag.Title</h2>
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Мои друзья", "Index", "Friend")</li>
        <li>@Html.ActionLink("Мои подпищики", "MyFollowers", "Friend")</li>
        <li>@Html.ActionLink("Заявки", "IFollowers", "Friend")</li>
    </ul>
</div>
<div>
    @{
        var grid = new WebGrid(Model, defaultSort: "FirstName");
    }
    @grid.GetHtml(columns: grid.Columns(
 grid.Column("FirstName", format: @<text>@Html.ActionLink(
(string)item.FirstName, "viewingUsers", "Profile",
new { id = item.Id }, null)</text>),
 grid.Column("LastName", format: @<text>@Html.ActionLink(
(string)item.LastName, "viewingUsers", "Profile",
new { id = item.Id }, null)</text>),
 grid.Column("City", format: @<text>@Html.ActionLink(
(string)item.City, "viewingUsers", "Profile",
new { id = item.Id }, null)</text>))

 )
</div>