
@{
    Layout = "~/Views/Shared/_Navigation.cshtml";
}

@model SocialNetwork.Domain.Models.Authorization

<div>@Model.Profile.FirstName</div>
<div>@Model.Profile.LastName</div>
<div>@Model.Profile.PatronymicName</div>
<div>@Model.Profile.Birthday</div>
<div>@Model.Profile.City</div>
<div>@Model.Profile.Contact</div>